In [2]:
# import os
# !pip install pandas 
import pandas as pd

In [6]:
# saves as df data pulled from UN Comtrade Database
df = pd.read_csv('brz_exports_to_pry.csv', encoding='unicode_escape')

In [7]:
# displays dataframe
df.head()

,TypeCode,FreqCode,RefPeriodId,RefYear,RefMonth,Period,ReporterCode,ReporterISO,ReporterDesc,FlowCode,...,IsNetWgtEstimated,GrossWgt,IsGrossWgtEstimated,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate,Unnamed: 47
0,C,A,20230101,2023,52,2023,76,BRA,Brazil,X,...,False,0,False,NaN,12249277,12249277,0,False,True,NaN
1,C,A,20230101,2023,52,2023,76,BRA,Brazil,X,...,False,0,False,NaN,75081,75081,0,False,True,NaN
2,C,A,20230101,2023,52,2023,76,BRA,Brazil,X,...,False,0,False,NaN,75081,75081,0,False,True,NaN
3,C,A,20230101,2023,52,2023,76,BRA,Brazil,X,...,False,0,False,NaN,163801,163801,0,False,True,NaN
4,C,A,20230101,2023,52,2023,76,BRA,Brazil,X,...,False,0,False,NaN,163801,163801,0,False,True,NaN

In [8]:
#dropping unnecessary columns
df = df.drop('TypeCode', axis=1)
df = df.drop('FreqCode', axis=1)
df = df.drop('RefPeriodId', axis=1)
df = df.drop('RefMonth', axis=1)
df = df.drop('Period', axis=1)
df = df.drop('ReporterCode', axis=1)
df = df.drop('ReporterISO', axis=1)
df = df.drop('FlowCode', axis=1)
df = df.drop('PartnerCode', axis=1)
df = df.drop('PartnerISO', axis=1)
df = df.drop('Partner2Code', axis=1)
df = df.drop('Partner2ISO', axis=1)
df = df.drop('Partner2Desc', axis=1)
df = df.drop('ClassificationCode', axis=1)
df = df.drop('ClassificationSearchCode', axis=1)
df = df.drop('IsOriginalClassification', axis=1)
df = df.drop('IsLeaf', axis=1)
df = df.drop('CustomsCode', axis=1)
df = df.drop('CustomsDesc', axis=1)
df = df.drop('IsNetWgtEstimated', axis=1)
df = df.drop('GrossWgt', axis=1)
df = df.drop('IsGrossWgtEstimated', axis=1)
df = df.drop('MosCode', axis=1)
df = df.drop('MotCode', axis=1)
df = df.drop('MotDesc', axis=1)
df = df.drop('AltQty', axis=1)
df = df.drop('IsAltQtyEstimated', axis=1)
df = df.drop('PrimaryValue', axis=1)
df = df.drop('QtyUnitCode', axis=1)
df = df.drop('AltQtyUnitCode', axis=1)
df = df.drop('IsQtyEstimated', axis=1)
df = df.drop('AltQtyUnitAbbr', axis=1)
df = df.drop('LegacyEstimationFlag', axis=1)
df = df.drop('IsReported', axis=1)
df = df.drop('IsAggregate', axis=1)
df = df.drop('Unnamed: 47', axis=1)
df=df.drop('cif_value',axis=1)

In [24]:
# renaming columns in order to provide clarity and to make merging datasets easier later
df = df.rename(columns={'RefYear':'year', 'ReporterDesc':'reporter','FlowDesc':'trade_flow','PartnerDesc':'partner','CmdCode':'hs_code','CmdDesc':'commodity', 'QtyUnitAbbr':'unit_type','Qty':'quantity','NetWgt':'net_weight','Cifvalue':'cif_value','Fobvalue':'fob_value'})

In [25]:
#keeping only rows that have HS code with six digits 
df = df[df['AggrLevel']==6]

In [26]:
#dropping column once all rows are with HS 6 codes 
df = df.drop(columns = 'AggrLevel')

In [27]:
#displaying dataframe to see updates
df.head()

,year,reporter,trade_flow,partner,hs_code,commodity,unit_type,quantity,net_weight,cif_value,fob_value
2,2023,Brazil,Export,Paraguay,010121,"Horses; live, pure-bred breeding animals",u,17.0,8200.0,NaN,75081
4,2023,Brazil,Export,Paraguay,010221,"Cattle; live, pure-bred breeding animals",u,17.0,10937.0,NaN,163801
6,2023,Brazil,Export,Paraguay,010310,"Swine; live, pure-bred breeding animals",u,641.0,58244.0,NaN,649041
7,2023,Brazil,Export,Paraguay,010392,"Swine; live, other than pure-bred breeding ani...",u,904.0,79649.0,NaN,579106
9,2023,Brazil,Export,Paraguay,010511,"Poultry; live, fowls of the species Gallus dom...",u,13417432.0,642645.0,NaN,10782248

In [29]:
#changing wording to make it easier to understand the direction of the trade flow 
df['trade_flow']=df['trade_flow'].replace('Export','exported_to')

In [34]:
#changing unit type wording to make it easier to read / understand
df['unit_type']=df['unit_type'].replace(['1000u','thousands_of_units'],['2u','pairs_of_units'])
df['unit_type']=df['unit_type'].replace(['l','liters'],['mÂ²','square_meters'])
df['unit_type']=df['unit_type'].replace(['mÂ³','cubic_meters'],['u','units'])

In [41]:
#checking for nulls
#interesting to see that both exports don't have any cif values at all 
df.isnull().sum()

year             0
reporter         0
trade_flow       0
partner          0
hs_code          0
commodity        0
unit_type       19
quantity         0
net_weight       8
cif_value     3306
fob_value        0
dtype: int64

In [45]:
#saving data as new set
df.to_csv('cleaned br exports to py.csv',index=False)

In [46]:
# Saves data from new .csv file as newdf to ensure that everything worked. 
newdf = pd.read_csv('cleaned br exports to py.csv')
newdf

,year,reporter,trade_flow,partner,hs_code,commodity,unit_type,quantity,net_weight,fob_value
0,2023,Brazil,exported_to,Paraguay,10121,"Horses; live, pure-bred breeding animals",u,17.0,8200.0,75081
1,2023,Brazil,exported_to,Paraguay,10221,"Cattle; live, pure-bred breeding animals",u,17.0,10937.0,163801
2,2023,Brazil,exported_to,Paraguay,10310,"Swine; live, pure-bred breeding animals",u,641.0,58244.0,649041
3,2023,Brazil,exported_to,Paraguay,10392,"Swine; live, other than pure-bred breeding ani...",u,904.0,79649.0,579106
4,2023,Brazil,exported_to,Paraguay,10511,"Poultry; live, fowls of the species Gallus dom...",u,13417432.0,642645.0,10782248
...,...,...,...,...,...,...,...,...,...,...
3301,2023,Brazil,exported_to,Paraguay,962000,"Monopods, bipods, tripods and similar articles",kg,14.0,14.0,299
3302,2023,Brazil,exported_to,Paraguay,970121,"Paintings, drawings and pastels; executed enti...",u,289.0,2598.0,38696
3303,2023,Brazil,exported_to,Paraguay,970191,"Paintings, drawings and pastels; executed enti...",u,16.0,32.0,167
3304,2023,Brazil,exported_to,Paraguay,970199,"Artwork; other than paintings, drawings, paste...",kg,67.0,67.0,3667
3305,2023,Brazil,exported_to,Paraguay,999999,Commodities not specified according to kind,NaN,0.0,0.0,529