In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'c:\\Users\\bfran\\Ironhack\\Week 3\\Project'

In [3]:
# Saves as df data pulled from UN Comtrade Database
df = pd.read_csv("PRY Imports from BRZ.csv", encoding='unicode_escape')

In [4]:
# Displays dataframe
df

,TypeCode,FreqCode,RefPeriodId,RefYear,RefMonth,Period,ReporterCode,ReporterISO,ReporterDesc,FlowCode,...,IsNetWgtEstimated,GrossWgt,IsGrossWgtEstimated,Cifvalue,Fobvalue,PrimaryValue,LegacyEstimationFlag,IsReported,IsAggregate,Unnamed: 47
0,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,1.312960e+07,1.243655e+07,1.312960e+07,0,False,True,NaN
1,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,7.778350e+04,7.508065e+04,7.778350e+04,0,False,True,NaN
2,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,7.778350e+04,7.508065e+04,7.778350e+04,0,False,True,NaN
3,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,1.692392e+05,1.638012e+05,1.692392e+05,2,False,True,NaN
4,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,1.692392e+05,1.638012e+05,1.692392e+05,2,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4372,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,3.929800e+04,3.880272e+04,3.929800e+04,0,False,True,NaN
4373,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,1.693100e+02,1.672000e+02,1.693100e+02,0,False,True,NaN
4374,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,4.483780e+03,3.667110e+03,4.483780e+03,0,False,True,NaN
4375,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,False,0,False,7.069253e+05,6.705306e+05,7.069253e+05,0,False,True,NaN
4376,C,A,20230101,2023,52,2023,600,PRY,Paraguay,M,...,True,0,False,3.930499e+09,3.720551e+09,3.930499e+09,4,False,True,NaN

In [5]:
# Defines useful columns to keep
columns_to_keep = ['RefYear','ReporterDesc','FlowDesc','PartnerDesc','CmdCode','CmdDesc','AggrLevel','QtyUnitAbbr','Qty','NetWgt','Cifvalue','Fobvalue']

In [6]:
# Saves the dataframe with only those columns that have useful data
df = df.loc[:,columns_to_keep]

In [7]:
# Saves the dataframe keeping only those rows with an HS level of 6 digits
df = df[df['AggrLevel'] == 6]

In [8]:
# Removes the now useless AggrLevel column
df = df.drop(columns= 'AggrLevel')

In [9]:
# Renames columns in order to provide clarity and to make merging datasets easier later
df.rename(columns = {'RefYear':'year',
          'ReporterDesc': 'reporter',
          'FlowDesc':'trade_flow',
          'PartnerDesc':'partner',
          'CmdCode':'hs_code',
          'CmdDesc':'commodity',
          'QtyUnitAbbr':'unit_type',
          'Qty':'quantity',
          'NetWgt':'net_weight',
          'Cifvalue':'cif_value',
          'Fobvalue':'fob_value'},
          inplace=True)

# Displays new dataframe with new column names
df

,year,reporter,trade_flow,partner,hs_code,commodity,unit_type,quantity,net_weight,cif_value,fob_value
2,2023,Paraguay,Import,Brazil,010121,"Horses; live, pure-bred breeding animals",NaN,0.000,8200.00,77783.50,75080.65
4,2023,Paraguay,Import,Brazil,010221,"Cattle; live, pure-bred breeding animals",u,79.701,10925.00,169239.20,163801.19
6,2023,Paraguay,Import,Brazil,010310,"Swine; live, pure-bred breeding animals",NaN,0.000,55587.00,697124.31,649040.72
7,2023,Paraguay,Import,Brazil,010392,"Swine; live, other than pure-bred breeding ani...",u,2690.914,79650.00,655794.51,579105.90
9,2023,Paraguay,Import,Brazil,010511,"Poultry; live, fowls of the species Gallus dom...",NaN,0.000,667138.80,11529662.15,10969520.83
...,...,...,...,...,...,...,...,...,...,...,...
4369,2023,Paraguay,Import,Brazil,962000,"Monopods, bipods, tripods and similar articles",kg,17.320,17.32,1799.50,1779.60
4372,2023,Paraguay,Import,Brazil,970121,"Paintings, drawings and pastels; executed enti...",NaN,0.000,2709.18,39298.00,38802.72
4373,2023,Paraguay,Import,Brazil,970191,"Paintings, drawings and pastels; executed enti...",NaN,0.000,32.00,169.31,167.20
4374,2023,Paraguay,Import,Brazil,970199,"Artwork; other than paintings, drawings, paste...",kg,66.600,66.60,4483.78,3667.11
4375,2023,Paraguay,Import,Brazil,999999,Commodities not specified according to kind,NaN,0.000,0.00,706925.27,670530.56

In [10]:
# Checks values of unit types to be updated
df['unit_type'].value_counts()

unit_type
kg    2406
u      341
m²      22
l       21
2u      18
m³       8
Name: count, dtype: int64

In [11]:
# Creates a dictionary with old unit_type values and the values we want to change them to. 
# Updated values provide clarity in regards to unit types
replace_dict = {
    '2u':'pairs_of_units',
    'l':'liters',
    'm²':'square_meters',
    'm³':'cubic_meters',
    'u':'units'
}

In [12]:
# Actually updates the unit types. 
df['unit_type'] = df['unit_type'].replace(replace_dict)

In [13]:
# Displays modified values in unit_types
df['unit_type'].value_counts()

unit_type
kg                2406
units              341
square_meters       22
liters              21
pairs_of_units      18
cubic_meters         8
Name: count, dtype: int64

In [16]:
# Changes value in trade_flow column from Import to imported_from to provide clarity of trade flows.
df['trade_flow']=df['trade_flow'].replace('Import','imported_from')

In [17]:
df

,year,reporter,trade_flow,partner,hs_code,commodity,unit_type,quantity,net_weight,cif_value,fob_value
2,2023,Paraguay,imported_from,Brazil,010121,"Horses; live, pure-bred breeding animals",NaN,0.000,8200.00,77783.50,75080.65
4,2023,Paraguay,imported_from,Brazil,010221,"Cattle; live, pure-bred breeding animals",units,79.701,10925.00,169239.20,163801.19
6,2023,Paraguay,imported_from,Brazil,010310,"Swine; live, pure-bred breeding animals",NaN,0.000,55587.00,697124.31,649040.72
7,2023,Paraguay,imported_from,Brazil,010392,"Swine; live, other than pure-bred breeding ani...",units,2690.914,79650.00,655794.51,579105.90
9,2023,Paraguay,imported_from,Brazil,010511,"Poultry; live, fowls of the species Gallus dom...",NaN,0.000,667138.80,11529662.15,10969520.83
...,...,...,...,...,...,...,...,...,...,...,...
4369,2023,Paraguay,imported_from,Brazil,962000,"Monopods, bipods, tripods and similar articles",kg,17.320,17.32,1799.50,1779.60
4372,2023,Paraguay,imported_from,Brazil,970121,"Paintings, drawings and pastels; executed enti...",NaN,0.000,2709.18,39298.00,38802.72
4373,2023,Paraguay,imported_from,Brazil,970191,"Paintings, drawings and pastels; executed enti...",NaN,0.000,32.00,169.31,167.20
4374,2023,Paraguay,imported_from,Brazil,970199,"Artwork; other than paintings, drawings, paste...",kg,66.600,66.60,4483.78,3667.11
4375,2023,Paraguay,imported_from,Brazil,999999,Commodities not specified according to kind,NaN,0.000,0.00,706925.27,670530.56

In [ ]:
# Next step is dealing with NaNs - leave that for tomorrow